body {
  display: flex;
  height: 20vh;
  flex-direction: column;
  background-image: url(fondos2/9303.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.titulo1{
  color: rgb(14, 12, 12);
  margin-left: 30px;
  font-size: 18px;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  color: aliceblue;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-left: 30px;
  font-size: 30px;
  width: fit-content;
  color: rgb(14, 12, 12);
  text-transform: uppercase;
}

.ContenedorBoton {
  display: flex;
  align-items: center;
  background-color: rgba(76, 76, 124, 0.342);
  width: 83%;
  border-radius: 30px;
}

input {
  background-color: transparent;
  margin-left: 10px;
  width: 85%;
  height: 30px;
  border-radius: 30px;
  border: 0;
}

.lupaImagen {
  fill: currentColor;
  border: 0px;
  margin-left: 20px;
  color: white;
}

input:focus {
  outline: 0;
  border: 0;
}
input::placeholder{
  color: white;
}

#menu {
  margin-bottom: 15px;
}

.Perfil {
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: 270px;
}